.container
    .info
        .info__title Get
            span  200 TFS
            |  tokens for signing up at Fairspin
        .info__description
            span Multiply tokens thanks to holding
            span Withdraw and play for them
            span Receive rakeback in TFS for every bet
    .wheel
        .wheel__arrow
            img(src='img/arrow.png')
        .wheel__main(id='wheel')
            img(src='img/wheel.png').desc
            img(src='img/mob-wheel.png').mob
    .btn.spin(id='spin') Spin & Win
.prize(id='prize')
    .prize__wall
        .prize__try
            .prize__info Have not won, But you have one more chance!
            .prize__btn.btn(id='try') Try Now
        .prize__gift
            .prize__box-first
                img(src='img/box1.png')
            .prize__box-info(id='gift-info')
                .prize__box-text
                    p
                        span 200
                        |  TFS Registration
                    p
                        span  400%
                        |  1st Deposit Bonus
                    p
                        span  135
                        |  FS
                a(href='%%redirect_to%%').prize__btn.btn.get Claim Now
            .prize__box-last
                img(src='img/box2.png')


